/CatlikeCodingCustomSRP/Library
/CatlikeCodingCustomSRP/Logs
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/FileContentIndex/read.lock
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/v17/.suo
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/v17/fileList.bin
/CatlikeCodingCustomSRP/.vsconfig
/CatlikeCodingCustomSRP/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.Editor.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.Runtime.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.ShaderLibrary.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/UnityEditor.UI.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/UnityEngine.UI.csproj.AssemblyReference.cache
