/CatlikeCodingCustomSRP/Library
/CatlikeCodingCustomSRP/Logs
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/FileContentIndex/read.lock
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/v17/.suo
/CatlikeCodingCustomSRP/.vs/CatlikeCodingCustomSRP/v17/fileList.bin
/CatlikeCodingCustomSRP/.vsconfig
/CatlikeCodingCustomSRP/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.Editor.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.Runtime.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/Unity.RenderPipelines.Core.ShaderLibrary.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/UnityEditor.UI.csproj.AssemblyReference.cache
/CatlikeCodingCustomSRP/obj/Debug/UnityEngine.UI.csproj.AssemblyReference.cache
CatlikeCodingCustomSRP/Temp/FSTimeGet-2386990429eaa7444a77a84893c8eb68
CatlikeCodingCustomSRP/Temp/FSTimeGet-93b9bf519f232514aabc2bf44c06b0f8
CatlikeCodingCustomSRP/Temp/FSTimeGet-c18dd5524a645d34c96d5b3c2a612815
CatlikeCodingCustomSRP/Temp/FSTimeGet-f978dc2a47edce24c83affef477a6053
CatlikeCodingCustomSRP/Temp/PropertyDatabase_1265138678
CatlikeCodingCustomSRP/Temp/PropertyDatabase_2066312223
CatlikeCodingCustomSRP/Temp/UnityLockfile
CatlikeCodingCustomSRP/Temp/workerlic
CatlikeCodingCustomSRP/Temp/FSTimeGet-b7759da71f4712a4f8ef11d01a3673a0
CatlikeCodingCustomSRP/Temp/FSTimeGet-cc2a2914993184947b653e1fbaea7f6e
CatlikeCodingCustomSRP/Temp/FSTimeGet-d67ad0a8a2a74634eb4eb124f23a181b
/CatlikeCodingCustomSRP/.vs
/CatlikeCodingCustomSRP/Temp
